.app {
  font-size: 18px;
}

.words-list {
  display: flex;
  flex-wrap: wrap;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 15%;
  padding: 50px 30px;
  border: 1px solid black;
}